<template>
    <div id="create-product">
      <h1>Create Post</h1>
      <notification v-bind:notifications="notifications"></notification>
      <form v-on:submit.prevent="addPost">
            <div class="form-group">
                <label name="product_name">Title</label>
                <input type="text" class="form-control" v-model="post.title" id="post_title" required>
            </div>

            <div class="form-group">
                <label name="product_price">Description</label>
                <input type="text" class="form-control" v-model="post.description" id="post_body" required>
            </div>

            <div class="form-group">
                <label name="product_price">User id</label>
                <input type="text" class="form-control" v-model="post.userId" id="post_user" required>
            </div>

            <div class="form-group">
              <button class="btn btn-danger"><router-link :to="{ name: 'all_posts' }">Back</router-link></button>
              <button class="btn btn-primary">Create Post</button>
            </div>
        </form>
    </div>
</template>

<script>
  /**
   * @Description: Create new post
   * @Author: Garry Jaswal
   */
    import Notifications from './notifications.vue'
    export default {
      data () {
        return {
          post: {},
          notifications: []
        }
      },
      methods: {
        addPost: function () {
          this.$http.post('http://jsonplaceholder.typicode.com/posts', this.post, {
            headers: {
              'Content-Type': 'application/json'
            }
          }).then((response) => {
            this.notifications.push({
              type: 'success',
              message: 'Post created successfully'
            })
          }, (response) => {
            this.notifications.push({
              type: 'error',
              message: 'Post not created'
            })
          })
        }
      },
      components: {
        'notification': Notifications
      }
    }
</script>
