<template>
  <div id="delete-product">
    <h1>Delete Product {{ post.name }}</h1>
    <notification v-bind:notifications="notifications"></notification>
    <p><router-link :to="{ name: 'all_products' }">Return to products</router-link></p>

    <form v-on:submit.prevent="deletePost">
      <p><button class="btn btn-danger">Delete Product</button></p>
    </form>
  </div>
</template>

<script>
  /**
   * @Description: Delete post
   * @Author: Garry Jaswal
   */
  import Notifications from './notifications.vue'
  export default{
    data () {
      return {
        post: {},
        notifications: []
      }
    },
    created: function () {
      this.getPost()
    },
    methods: {
      getPost: function () {
        this.$http.get('http://jsonplaceholder.typicode.com/posts/' + this.$route.params.id).then((response) => {
          this.post = response.body
        }, (response) => {
        })
      },
      deletePost: function () {
        this.$http.delete('http://jsonplaceholder.typicode.com/posts/' + this.$route.params.id, {
          headers: {
            'Content-Type': 'application/json'
          }
        }).then((response) => {
          this.$router.push({name: 'all_posts'})
        }, (response) => {
          this.notifications.push({
            type: 'danger',
            message: 'Post could not deleted'
          })
        })
      }
    },
    components: {
      'notification': Notifications
    }
  }
</script>
