<template>
  <div id="update-product">
    <h1>Update Post</h1>
    <notification v-bind:notifications="notifications"></notification>
    <form v-on:submit.prevent="editPost">

      <div class="form-group">
        <label name="product_name">Name</label>
        <input type="text" class="form-control" v-model="post.title" id="product_name" required>
      </div>

      <div class="form-group">
        <label name="product_price">Price</label>
        <input type="text" class="form-control" v-model="post.body" id="product_price" required>
      </div>

      <div class="form-group">
        <button class="btn btn-danger"><router-link :to="{ name: 'all_posts' }">Back</router-link></button>
        <button class="btn btn-primary">Update</button>
      </div>
    </form>
  </div>
</template>

<script>
  /**
   * @Description: Edit post
   * @Author: Garry Jaswal
   */
  import Notifications from './notifications.vue'
  export default{
    data () {
      return {
        post: {},
        notifications: []
      }
    },
    created: function () {
      this.getPost()
    },
    methods: {
      getPost: function () {
        this.$http.get('http://jsonplaceholder.typicode.com/posts/' + this.$route.params.id).then((response) => {
          this.post = response.body
        }, (response) => {
        })
      },
      editPost: function () {
        this.$http.patch('http://jsonplaceholder.typicode.com/posts/' + this.$route.params.id, this.post, {
          headers: {
            'Content-Type': 'application/json'
          }
        }).then((response) => {
          console.log(response)
          this.$router.push({name: 'all_posts'})
          this.notifications.push({
            type: 'success',
            message: 'Post updated successfully'
          })
        }, (response) => {
          this.notifications.push({
            type: 'error',
            message: 'Post not updated'
          })
        })
      }
    },
    components: {
      'notification': Notifications
    }
  }
</script>
