<template>
  <div id="all-products">
    <h1>All Posts</h1>
    <p><router-link :to="{ name: 'create_post' }" class="btn btn-primary">Create Post</router-link></p>

    <div class="form-group">
      <input type="text" name="search" v-model="postSearch" placeholder="Search products" class="form-control" v-on:keyup="searchPosts">
    </div>

    <table class="table table-hover">
      <thead>
      <tr>
        <td>ID</td>
        <td>Title</td>
        <td>Description</td>
        <td>Created On</td>
        <td>Actions</td>
      </tr>
      </thead>

      <tbody>
      <tr v-for="post in posts">
        <td>{{ post.id }}</td>
        <td>{{ post.title }}</td>
        <td style="width: 300px;">{{ post.body }}</td>
        <td>{{ post.created }}</td>
        <td>
          <router-link :to="{name: 'edit_post', params: { id: post.id }}" class="btn btn-primary">Edit</router-link>
          <router-link :to="{name: 'delete_post', params: { id: post.id }}" class="btn btn-danger">Delete</router-link>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  /**
   * @Description: Fetch all posts from server
   * @Author: Garry Jaswal
   */
  export default{
    data () {
      return {
        posts: [],
        originalPosts: [],
        gpPosts: [],
        postSearch: ''

      }
    },
    created: function () {
      this.fetchPostData()
    },
    methods: {
      fetchPostData: function () {
        this.$http.get('http://jsonplaceholder.typicode.com/posts').then((response) => {
          for (var post in response.body) {
            this.posts.push({
              id: response.body[post].id,
              title: response.body[post].title,
              body: response.body[post].body,
              created: formatDate(randomDate())
            })
            this.originalPosts = this.posts
            this.gpPosts = this.posts
          }
        }, (response) => {
        })
      },
      searchPosts: function () {
        if (this.postSearch === '') {
          for (var post in this.gpPosts) {
            this.posts.push({
              id: this.gpPosts[post].id,
              title: this.gpPosts[post].title,
              body: this.gpPosts[post].body,
              created: this.gpPosts[post].created
            })
          }
          return
        }
        var searchedPosts = []
        for (var i = 0; i < this.originalPosts.length; i++) {
          var postName = this.originalPosts[i]['title'].toLowerCase()
          var postBody = this.originalPosts[i]['body'].toLowerCase()
          if (postName.indexOf(this.postSearch.toLowerCase()) >= 0) {
            searchedPosts.push(this.originalPosts[i])
          } else if (postBody.indexOf(this.postSearch.toLowerCase()) >= 0) {
            searchedPosts.push(this.originalPosts[i])
          }
        }
        this.posts = searchedPosts
      }
    }
  }

  /**
   * @Description: Date functions
   * @Author: Garry Jaswal
   */
  function randomDate () {
    var startDate = new Date(2015, 0, 1).getTime()
    var endDate = new Date(2016, 0, 1).getTime()
    var spaces = (endDate - startDate)
    var timestamp = Math.round(Math.random() * spaces)
    timestamp += startDate
    return new Date(timestamp)
  }
  function formatDate (date) {
    var month = randomDate().getMonth()
    var day = randomDate().getDate()

    month = month < 10 ? '0' + month : month
    day = day < 10 ? '0' + day : day

    return String(date.getFullYear()) + '/' + month + '/' + day
  }
</script>
